@model IEnumerable<MvcTestDeployApp.Models.MVCGridToolbarModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MVCGridName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColumnVisibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Export)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlobalSearch)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MVCGridName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColumnVisibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Export)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalSearch)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MVCGridToolbarModelId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MVCGridToolbarModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MVCGridToolbarModelId })
            </td>
        </tr>
    }

</table>